{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}


    <p><br /></p><p><br /></p><p><br /></p>
<div class="container">



<hr>
<h2>{{ movie.movie_name}}</h2>
<br>

<p style="font-size: 18px; background-color: #777; padding: 8px; width: 300px; border-radius: 4px;">address: {{ movie.cinema }}</p>

<hr>

<a href="{% url "movie" %}" class="btn btn-primary">Back to movie</a>&nbsp;&nbsp;
<a href="{% url "home" %}" class="btn btn-primary">Back to home</a>&nbsp;&nbsp;




</div>

{% endblock content %}