{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %} Buy ticket {% endblock title %}
    {% block extra_head %}
    <script src="{% static 'js/buy_ticket.js' %}"></script>

        <style>
        #movie_display {
         /* Chrome, Safari, Opera */
            -webkit-column-count: 4;
            -webkit-column-gap: 20px;
            -webkit-column-rule-style: outset;
            -webkit-column-rule-width: 0px;

            /* Firefox */
            -moz-column-count: 4;
            -moz-column-gap: 20px;
            -moz-column-rule-style: outset;
            -moz-column-rule-width: 0px;

            column-count: 4;
            column-gap: 20px;
            column-rule-style: outset;
            column-rule-width: 0px;

        }
        </style>
    {% endblock extra_head %}
{% block content %}

  <p><br /></p><p><br /></p><p><br /></p>
<div class="container">
<div class="row">
    <div class="col-xs-4">
    <input class="form-control" id="search" type="text" placeholder="MOVIE LOOKUP">
    </div>
    <div class="col-xs-4">
        <button class="btn btn-success" id="searchmovie"><span class="glyphicon glyphicon-search"> Search </span></button>
    </div>

</div>
</div>
<br>
    <div class="container">
    <div class="row">

    <div class="col-lg-7">
        <div class="col-lg-7" id="movie_now"><h2>Current movie</h2></div>
        <div class="col-lg-5" id="show_now"><h2>Showtime</h2></div>
    </div>

    <div class="col-lg-5" id="seat_now"><h2>Seating chart</h2></div>

    </div>
    </div>


    <div class="container">
    <div class="row">

    <div class="col-lg-7">
        <div class="col-lg-7" id="movie_now"></div>
        <div class="col-lg-5" id="show_now"></div>
    </div>

    <div class="col-lg-5" id="seat_now"></div>

    </div>
    </div>


{% endblock content %}

{% block foot %}

{% endblock foot %}
